{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="register">

	<form method="POST" enctype="multipart/form-data">
		<h2>Register</h2>
		{%csrf_token%}
		<input type="text" name="first_name" placeholder="first name">
		<input type="text" name="last_name" placeholder="last name">
		<input type="text" name="username" placeholder="Username">
		<input type="email" name="email" placeholder="E-mail">
		<input type="password" name="password", placeholder="password">
		<button class="btn-form">Register</button>
		<p>
			Already have an account? 
			<a href="{% url 'login' %}" class="">Login</a>
		</p>
	</form>
	
</div>
{% endblock %}